
/*Design tokens are taken from designTokens.css(duh)

/* === Theme Variables === */

[data-theme="light"] {
    --background-color: var(--Neutral-0);
    --background-color-secondary: var(--Neutral-100);/*used only in background color of auth related pages*/

    --text-color-main: var(--Neutral-950);/*used by headings, for links, labels etc*/
    --text-color-secondary: var(--Neutral-600);/*used by paragraph only, at least in AuthPage*/

    --border-color: var(--Neutral-200);
    --default-hover-color: var(--Neutral-100);
}

[data-theme="dark"] {
    --background-color: var(--Neutral-950);
    --background-color-secondary: var(--Neutral-700);

    --text-color-main: var(--Neutral-0);
    --text-color-secondary: var(--Neutral-300);

    --border-color: var(--Neutral-600);
    --default-hover-color: var(--Neutral-800);
}

/*System theme setting pure css, perhaps an ungly solution due to code duplication?*/

/* System theme - light preference */
@media (prefers-color-scheme: light) {
    [data-theme="system"] {
      --background-color: var(--Neutral-0);
      --background-color-secondary: var(--Neutral-100);
      --text-color-main: var(--Neutral-950);
      --text-color-secondary: var(--Neutral-600);
      --border-color: var(--Neutral-200);
      --default-hover-color: var(--Neutral-100);
    }
  }
  
/* System theme - dark preference */
@media (prefers-color-scheme: dark) {
    [data-theme="system"] {
        --background-color: var(--Neutral-950);
        --background-color-secondary: var(--Neutral-700);
        --text-color-main: var(--Neutral-0);
        --text-color-secondary: var(--Neutral-300);
        --border-color: var(--Neutral-600);
        --default-hover-color: var(--Neutral-800);
    }
}

/* === Font Variables === */
[data-font="sans-serif"]{
    --font-family-base: var(--font-Inter); /*--font-Inter: 'Inter', sans-serif;*/
}

[data-font="monospace"]{
    --font-family-base: var(--font-SourceCodePro); /*--font-SourceCodePro: 'SourceCodePro', monospace;*/
}

[data-font="serif"]{
    --font-family-base: var( --font-NotoSerif); /*--font-Inter: 'Inter', --font-NotoSerif: 'NotoSerif', serif;*/
}
/* Applying font & theme settings variables */
body {
    font-family: var(--font-family-base);
    background-color: var(--background-color);
    color: var(--text-color-main);
}

p{
    color: var(--text-color-secondary);/*in AuthPage/ResetPassword this is the only element using this color*/
}

/* Optional: Add some smooth transitions */
body {
    transition: background-color 0.3s ease, color 0.3s ease;
}
