.notesListColumn {
    grid-column: 1/4;
    padding: 20px 16px 20px 32px;
    border-right: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;
    gap: var(--Spacing-250);

    height: 100%;
    min-height: 0;
}

.notesList {
    margin: 0;
    padding: 0;
    list-style: none;

    overflow-y: auto;
    overflow-x: hidden;

    flex: 1 1 auto;  /* Grow and shrink within container */
    min-height: 0;   /* Prevent overflow issues */
    display: flex;
    flex-direction: column;
}

.createNoteButton{
    padding: var(--Spacing-150) var(--Spacing-200);
    width: calc(100% - var(--Spacing-400));
    text-align: center;
}

/* slight fix to better center '+' */
.createNoteButton > span{
    position: relative;
    bottom: 1px;
}

.notesListEmpty{
    border: 1px solid var(--border-color);
    border-radius: var(--Radius-8);
    background-color: var(--background-color-secondary);
    padding: var(--Spacing-100);

}








