/* Input Styles */
.input {
    width: calc(100% - var(--Spacing-400));
    padding: var(--Spacing-150) var(--Spacing-200);
    border: 1px solid var(--border-color);
    border-radius: var(--Radius-8);
}

.input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px var(--primary-color-light);
}

.input::placeholder {
    color: var(--Neutral-600);
}


.passwordInputWrapper{
    position: relative;
}

.passwordInput{
    padding-right: 2.5rem;
    width: calc(100% - 3.7rem);
}

.VisibilityToggleButton{
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);  /* Centers vertically */
}