.NoteItem{border-top: 1px solid var(--border-color); width: 100%; padding: var(--Spacing-025);display: flex;}
.noteButton{
    display: flex;
    flex-direction: column;
    gap: var(--Spacing-150);
    width: calc(100% - var(--Spacing-250));
    padding: var(--Spacing-150);
}

.tagsList{
    display: flex;
    flex-direction: row;
    gap: var(--Spacing-050);
    flex-wrap: wrap;
}

.tag{
    background-color: var(--border-color);
    border: 1px solid var(--border-color);
    border-radius: var(--Radius-4);
    padding: var(--Spacing-025) var(--Spacing-075);
}

.active{
    background-color: var(--background-color-secondary);
    border-radius: var(--Radius-6);
}
