.ResetPasswordPage {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-secondary);
    padding: var(--Spacing-200);
}

.container {
    width: 100%;
    max-width: 35rem ;
    display: flex;
    flex-direction: column;
    gap: var(--Spacing-200);
    padding: var(--Spacing-600);
    border-radius: var(--Radius-12);
    background-color: var(--background-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

/* Header Styles */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--Spacing-200);
    margin-bottom: var(--Spacing-400);
}

.header p{
    text-align: center;
}

/* Form Styles */
.form {
    display: flex;
    flex-direction: column;
    gap: var(--Spacing-150);
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: var(--Spacing-100);
}

.labelRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hintText{
    display: flex;
    align-items: center;
    gap: var(--Spacing-100);
}
/* Submit Button */
.submitButton {

    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(100% - var(--Spacing-400));
    padding: var(--Spacing-200);
    margin-top: var(--Spacing-200);
}

